<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache">
    <title>Minder</title>
    <link rel="icon" type="image/png" size="192x192"
    href="./image/leaf_icon_with_white_bg.png"></link>
    
	<link href="./main.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
</head>



<body>
    <div id="home">
        <div id="top_bar_frame">
            <div id="top_bar">
                <div id="bar_left">
                    <a href="https://google.com" id="to_home">
                        <img src="./image/leaf_icon_with_white_bg.png" id="icon" class="top_bar_ele">
                        <p class="top_bar_ele" id="header">MINDER</p>
                    </a>
                </div>
                
                <div id="bar_right">
                    <ul id="right">
                        <li><a href="https://google.com" class="top_bar_ele_left">關於</a></li>
                        <li><a href="https://google.com" class="top_bar_ele_left">公司</a></li>
                        
                        <li><a href="https://google.com" class="top_bar_ele oval">註冊</a></li>

                        <li><a href="https://google.com" class="top_bar_ele oval">登入</a></li>
                        <li class="clear"></li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        
        
        <div id="scene_frame">
            <div id="scene" class="clear">
                <img src="./image/rain.gif" v-if="1" id="rain_bg" class="night"/>
                <!-- <source src="./image/rain.mp4" type="video/mp4" v-if="time<100" id="rain_bg" :style="RainBgStyle"/> -->
                <img src="./image/night_sky.png" v-if="1" id="night_bg" class="night"/>
                <img src="./image/day_sky.png" v-if="!is_raining" id="day_bg"/>
                
                
                <div class="clouds night" v-if="1">
                    <img v-for="(style, idx) in cloudStyleArr" src="image/cloud.png" :style="style" class="cloud" :id="idx"></img>
                </div>

                <div class="clouds day">
                    <img v-for="style in dayCloudArr" src="image/cloud.png" :style="style"></img>
                </div>
                
                <div>
                    <img src="image/dark_ground.png" class="ground night" id="night_ground"></img>
                    <img src="image/ground.png" class="ground" id="day_ground"/>
                </div> 

                <div id="character_frame">
                        <div id="character">
                            <!-- <img src="image/man2.png" id="man"/> -->
                            <div id="man"></div>
                            <div id="umbrella" class="night"></div>
                            <!-- <img src="image/umbrella_2.png" id="umbrella"/> -->
                            <img :src="SpotImage" id="spot" @mouseover="HoverOnSpot()" @mouseleave="LeaveSpot()"
                            @click="ClickSpot()" ></img>
                        </div>
                    
                </div>

                <div id="text_box" class="day">
                    <span>踏上新旅程前<br/>先從了解自己開始</span>
                </div>
            </div>
        </div>

    </div>
	
	<script src="./script.js"></script>
	

</body>

</html>